#!/usr/bin/env sh
# -*- coding: utf-8 -*-

# Avoid linebreaks in LaTeX console / log output (or increase columns in terminal)
#      https://tex.stackexchange.com/questions/52988/avoid-linebreaks-in-latex-console-log-output-or-increase-columns-in-terminal
export max_print_line=1000
export error_line=254
export half_error_line=238
